* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
main,
header,
section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

body {
	font-family: "Arial", sans-serif;
	font-size: 16px;
	align-items: center;
	gap: 2rem;
	padding: 2rem 0;
	min-height: 100vh;
}

header,
footer {
	text-align: center;
}

main {
	flex: 1;
	gap: 2rem;
	padding: 2rem;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 0.5rem;
	width: 600px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

body {
	background: hsla(217, 100%, 50%, 1);

	background: linear-gradient(90deg,
			hsla(217, 100%, 50%, 1) 0%,
			hsla(186, 100%, 69%, 1) 100%);

	background: -moz-linear-gradient(90deg,
			hsla(217, 100%, 50%, 1) 0%,
			hsla(186, 100%, 69%, 1) 100%);

	background: -webkit-linear-gradient(90deg,
			hsla(217, 100%, 50%, 1) 0%,
			hsla(186, 100%, 69%, 1) 100%);

	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1);
}